.page {
  width:100%;
  height: 100%;
  position:absolute;
  top:80px;
  bottom:0px;
  /*border: 1px solid red;*/
}

.go-button {
  margin:auto;
  width:80px;
  height:35px;
  background-color: black;
  color: white;
  padding-top: 15px;
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.draw-icon {
  background-image: url('../../resources/img/draw-icon-white.svg');
}

.undo-icon {
  background-image: url('../../resources/img/undo-icon-white.svg');
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}
